html,
body {
	height:100%;
	margin:0;
	padding:0;
	background-color: #333333;
	font-family: Baskerville,Baskerville Old Face,Libre Baskerville,Hoefler Text,Garamond,Times New Roman,serif;
}

#content,
#content > div {
	display: initial;
}

.container h1 {
	font-size: 60px;
	color: #FFFFFF;
	letter-spacing: 40px;
	text-indent: 40px;
	/*font-weight: 400;*/
}

.container {
	height:100%;
	display:table;
	width: 100%;
	padding: 0;
}

.container p {
	color: #fff;
	font-size: 18px;
	letter-spacing: 1px;
}

.row {
	height: 100%;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}



.centering {
	float:none;
	margin:0 auto;
}

footer {
	/*border-top: 1px solid #777;*/
}

footer .container {
	padding-right: 15px;
	padding-left: 15px;
	background-color: #333333;
	max-width: none;
	text-align: right;
}

footer .container .text-muted {
	margin-bottom: 0;
	font-size: 35px;
}

footer .container .text-muted a {
	color: inherit;
}

footer .container ul.social-links {
	float: right;
	margin-top: 10px;
}

footer .container ul.main-menu {
	float: left;
	font-size: 1.5em;
	letter-spacing: 10px;
}

footer .container ul.main-menu li {
	cursor: pointer;
}

/* Media Queries */
@media all and (max-width: 1000px) { /* screen size until 1000px */
	.container h1 {
		font-size: 46px;
		letter-spacing: 38px;
		text-indent: 38px;
	}
}

@media all and (max-width: 600px) { /* screen size until 500px */
	.container h1 {
		font-size: 38px;
		letter-spacing: 28px;
		text-indent: 28px;
	}
}

@media all and (max-width: 500px) { /* screen size until 500px */

	.container h1 {
		font-size: 26px;
		letter-spacing: 20px;
		text-indent: 20px;
	}

	.container p {
		margin: 0 20px 20px 20px
	}

	footer .container ul.social-links {
		float: none;
	}

	footer .container ul.main-menu {
		margin-bottom: 10px;
	}

	footer .container .col-md-6 {
		position: initial;
	}

}

@media all and (max-width: 400px) { /* screen size until 500px */
	.container h1 {
		font-size: 24px;
		letter-spacing: 18px;
		text-indent: 18px;
	}
}

@media all and (max-width: 360px) { /* screen size until 500px */
	.container h1 {
		font-size: 22px;
		letter-spacing: 15px;
		text-indent: 15px;
	}
}